[submodule "src/external/mpiwrap"]
	path = src/external/mpiwrap
	url = https://github.com/devinamatthews/mpiwrap.git
[submodule "src/external/lawrap"]
	path = src/external/lawrap
	url = https://github.com/devinamatthews/lawrap.git
[submodule "src/external/marray"]
	path = src/external/marray
	url = https://github.com/devinamatthews/marray.git
